[submodule "external/nrfx/nrfx"]
	path = external/nrfx/nrfx
	url = https://github.com/NordicSemiconductor/nrfx.git
[submodule "external/nrfxlib/sdk-nrfxlib"]
	path = external/nrfxlib/sdk-nrfxlib
	url = https://github.com/nrfconnect/sdk-nrfxlib.git
[submodule "external/cmsis/cmsis"]
	path = external/cmsis/cmsis
	url = https://github.com/ARM-software/CMSIS.git
